{
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "arrow-parens": ["error", "always"],
    "arrow-spacing": "error",
    "indent": ["error", 2],
    "no-console": "off",
    "no-extra-boolean-cast": "off",
    "no-unused-vars": ["error", { "args": "none" }],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "semi": ["error", "always"],
  }
}
